@import "less/variables.less";
@import "less/mixins.less";
@import "less/normalize.less";
@import "fonts.less";
@import "default-skin.less";
@import "sberbank-skin.less";

@pullHeight: 166px;
@topPanelUpTop: 130px;

.wrap {
	width: 960px;
	margin: 0 auto;
}