@import "less/variables.less";
@import "less/mixins.less";
@import "less/normalize.less";
@import "fonts.less";
@import "default-skin.less";
@import "sberbank-skin.less";

@pullHeight: 166px;
@topPanelUpTop: 130px;

.wrap {
	width: 960px; height: 540px;
	margin: 0 auto;
}

// ipad
@media all and (device-width: 768px) and (device-height: 1024px) {
	html, body {
		height: 100%;
	}
	.wrap {
		width: 100%; height: 100%;
	}	
}